
<h2>Nuevo Post</h2>
<form method="post" action="/posts">
  <label>Título <input name="title" required></label>
  <label>Contenido <textarea name="body" required></textarea></label>
  <button>Guardar</button>
</form>
